*{
    margin:0px;
}
.cabecario{
    background-color: #ffffff;
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;

}
.icon {
    align-content: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px
}
#cabecarioInferior{
    background-color: #e9e8e6;
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-around;
}
.textoMenu{
    margin: 10px;
    color:#476e30 ;
}
#geral{
    background-color: #ffffff;
      display: grid;
}
.imagemCarrossel{
    background-image: url(https://atelieoficial.com.br/painel/upload/banner/minis_cremosos_desktop_v4.png);
    background-repeat: no-repeat;
    background-position: center; /* Centraliza horizontal e verticalmente */
    background-size: cover; /* Garante que a imagem cubra todo o elemento */
    width: 100%;
    height: 360px;
}
#menuBaixoDoCarrossel{
    background-color: #8bbd1f;
    width: 100%;
    height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}
#informacaoFixa{
    cursor: pointer;
    display: flex;
    background-color: orange;
    border-radius: 30px;
    width: 187px;
    height: 124px;
    margin-right: 20px;
    position: fixed;
    flex-wrap: wrap;
    right: 0;
    top: 80%;
    text-align: center;
    flex-direction: column;
    font-size: 12px;
}
.textoDoBlocoFlutuantePrincipal{
    color: #ffffff;
    margin-top: 16px;
}

.textoDoBlocoFlutuante{
    color: #ffffff;
    margin: auto;
}

.textoAbaixoDaImagem{
    font-size: 20px;
  color: #ffffff;
}

#listagemDeFotodDeProdutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.produto{
    width: 506px;
    height: 370px;
}

.textoDeOpcoes{
    font-size: 22px;
    font-family: inherit;
    text-align: center;
    padding-top: 60px;

}

#listagemDeProdutos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 24px;
}

#segundaListagemDeProdutos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 32px;
}

.fotosEspecificasDeProdutos{
    align-content: flex-end;
    height: 200px;
    width: 300px;
    margin: 15px;
}

.fotoDeProdutos{
    height: 158px;
    width: 284px;
}
.subTitulo{
    color: #79be05;
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
.texoExplicativoDoProduto{
    text-align: center;
}

.rodaPe{
    width: 100%;
    height: 130px;
    background-color: #9ac73c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logoFooter{

    width: 119px;
    height: 129px;

}